{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Website</title>
    <!-- Include CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <style>

    </style>
</head>
<body>
    <div class="box">
        <div class='container'>
            <div class="item item2">
                <div class="upper">1+2+3</div>
                <div class="lower">6</div>
            </div>
            <div class="item sign">(</div>
            <div class="item sign">)</div>
            <div class="item sign">ans</div>
            <div class="item sign">del</div>
            <div class="item sign">clear</div>
            <div class="item pale">7</div>
            <div class="item pale">8</div>
            <div class="item pale">9</div>
            <div class="item">%</div>
            <div class="item">^</div>
            <div class="item pale">4</div>
            <div class="item pale">5</div>
            <div class="item pale">6</div>
            <div class="item">*</div>
            <div class="item">/</div>
            <div class="item pale">1</div>
            <div class="item pale">2</div>
            <div class="item pale">3</div>
            <div class="item">+</div>
            <div class="item">-</div>
            <div class="item">.</div>
            <div class="item pale">0</div>
            <div class="item">=</div>
            <div class="item item1 enter">ENTER</div>
        </div>
    </div>
    <!-- Include JavaScript -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
